@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */

.btn-primary {
  padding: 12px 16px;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(20deg, #f7e93f, #fb09b4, #9100f8);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
}

/* Header Style */

header {
  background-color: rgba(26, 11, 46, 1);
}

/* Nav Style */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  /* or i guess i should use padding l/r and t/b */
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 120%;
}

.nav-bar h1 {
  color: #ffffff;
}

.wave {
  background: linear-gradient(20deg, #f7e93f, #fb09b4, #9100f8);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hamburger-icon {
  display: none;
}

.nav-hr {
  border: 1px solid rgb(12, 12, 12);
}

/* Banner part style */
.hero {
  min-height: 100vh;
  height: auto;

  background: url("assets/hero-bg.png") no-repeat center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 60px 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.mic-wrapper {
  position: relative;

  width: 350px;
  height: 350px;

  background: url("assets/hero-circle.png") no-repeat center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mic-wrapper::before {
  content: "";
  width: 200px;
  height: 200px;
  background: url("assets/microphone.png") no-repeat center;
  background-size: contain;
}

.badge {
  position: absolute;
  top: 10px;
  right: 12px;

  padding: 8px 16px;
  font-size: 1.125rem;
  border-radius: 1000px;

  background: #00ff88;
  color: #1a0b2e;
  font-weight: 600;
}

.title {
  font-size: 3.75rem;
  color: #ffffff;
}

.subtitle {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 100;
}

.listen {
  margin-right: 5px;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(20deg, #f7e93f, #fb09b4, #9100f8);
  cursor: pointer;
  transition: 0.3s ease;
}

.listen:hover {
  transform: translateY(-2px);
}

.subscribe {
  padding: 12px 20px;
  color: #00ff88;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #00ff88;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.subscribe:hover {
  transform: translateY(-2px);
}

/* About The Podcast Part */

#about-podcast {
  background-color: #1a0b2e;
}

.podcast-main {
  padding: 50px 0 120px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.podcast-written h2 {
  font-size: 3rem;
  margin-bottom: 16px;
  color: #ffffff;
}

.podcast-written .cast-upper-p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 24px;
  font-weight: 100;
}

.podcast-written .cast-lower-p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 100;
}

.cast-hr {
  margin: 80px 0 80px 0;
  border: 1px solid rgb(89, 89, 89);
}

.podcast-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.cast-info-span {
  font-size: 3rem;
  font-weight: 900;
  color: #00ff88;
  margin-bottom: 16px;
}

.cast-info-p {
  font-size: 1rem;
  color: #ffffff;
}

/* Why choose productive part */

#choose-techwave {
  background-color: #230e3d;
  padding: 120px 0 120px 0;
}

.techwave-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.techwave-card {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.06);
}

.techwave-h2 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
}

.card-h3 {
  font-size: 1.5rem;
  margin: 16px 0 16px 0;
  color: #ffffff;
}

.card-p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 24px;
  font-weight: 100;
}

.card1 {
  grid-row: span 2;
}

.card2 {
  grid-column: span 2;
}

/* feature episode part style */
#featued-episode {
  background-color: #1a0b2e;
  padding: 120px 0 120px 0;
}

.inner-ep {
  max-width: 1200px;
  margin: 0 auto;
}

.ep-h2 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}

.episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.epi-card {
  background-color: #250d44;
  border-radius: 20px;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.06);
}

.card-written {
  padding: 24px;
}

.video-h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 12px;
}

.video-p {
  font-size: 1rem;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 16px;
}

.video-span {
  display: flex;
  gap: 6px;
  color: #00ff88;
  font-weight: 600;
  align-items: center;
}

/* Meet the host part */
.host-h3 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin: 120px 0 40px 0;
}

.host-container {
  display: flex;
  /* border: 1px solid red; */
  border-radius: 20px;
  background-color: #250d44;
  padding: 40px;
  gap: 24px;
  align-items: center;
}

.alex-h3 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 16px;
}

.alex-p {
  font-size: 1rem;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 16px;
}

.host-logo {
  display: flex;
  gap: 8px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2b1248;
  border: 2px solid #5a3d8a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 20px;
  height: 20px;
}

/* Footer part style */

footer {
  background: url(assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-written {
  max-width: 544px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-h1 {
  font-size: 3.75rem;
  color: #ffffff;
  margin-bottom: 32px;
  text-align: center;
}

.footer-logo {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.inner-logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inner-logo-p {
  font-weight: 200;
  color: #ffffff;
}

.footer-span {
  text-align: center;
  color: #ffffff;
  font-weight: 100;
}

@media screen and (max-width: 576px) {
  .nav-bar ul {
    display: none;
  }

  .btn-primary {
    display: none;
  }

  .hamburger-icon {
    display: inline;
  }

  .hero {
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    min-height: auto;
    background-position: center 75%;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-weight: 100;
  }

  .mic-wrapper {
    width: 200px;
    height: 200px;
  }

  .mic-wrapper::before {
    width: 80px;
    height: 80px;
  }

  .badge {
    top: -6px;
    right: -6px;
  }

  .podcast-written h2 {
    font-size: 2rem;
  }

  .podcast-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  /* .podcast-written {
    padding: 0 5px 0 5px;
  } */

  .techwave-h2 {
    font-size: 2rem;
  }

  .techwave-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .techwave-card {
    width: 95%;
    margin: 0 auto;
  }

  .card1 {
    width: 100%;
    margin-left: 15px;
  }

  .card-last {
    width: 100%;
    margin-left: 15px;
  }

  .ep-h2 {
    font-size: 2rem;
  }

  .episodes {
    grid-template-columns: 1fr;
  }

  .host-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  .host-logo {
    /* margin-left: 70px; */
    justify-content: center;
  }

  .epi-card iframe {
    width: 100%;
  }

  footer {
    padding: 0px;
    /* background-size: 200% auto; */
    background-position: center;
  }

  .footer-h1 {
    margin-top: 10px;
    font-size: 2rem;
  }

  .footer-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
