@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */

.btn-primary {
  padding: 12px 16px;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(20deg, #f7e93f, #fb09b4, #9100f8);
  cursor: pointer;
}

/* Header Style */
header {
  background-color: rgba(26, 11, 46, 1);
}

/* Nav Style */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  /* or i guess i should use padding l/r and t/b */
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 120%;
}

.nav-bar h1 {
  color: #ffffff;
}

.nav-bar .wave {
  background: linear-gradient(20deg, #f7e93f, #fb09b4, #9100f8);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hamburger-icon {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav-bar ul {
    display: none;
  }

  .btn-primary {
    display: none;
  }

  .hamburger-icon {
    display: inline;
  }
}
